.header{
    background: #010103;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 7%;
    border-bottom: 0.2rem solid #ffc107;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo img {
    max-width: 75px;
  }
  .header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
  }
  
  .header .navbar a:hover {
    color: #ffc107;
    border-bottom: 0.1rem solid #ffc107;
    padding-bottom: 0.5rem;
  }
  
  .header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
  }
  
  .header .icons div:hover {
    color: #ffc107;
  }
  #menu-btn{
    display: none;
  }

  .header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .header .search-form.active {
    transform: scaleY(1);
  }
  
  .header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: #13131a;
    padding: 1rem;
    text-transform: none;
  }
  
  .header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: #13131a;
  }
  
  .header .search-form label:hover {
    color: #ffc107;
  }